/*---------------------------------------
    Section # 1: Detect Data Loss
-----------------------------------------*/
#detect-data-loss {
  position: relative;
  background: #f5f7f8;
  /* Dots */
  /* Fixed */
  /* Absolute */
}

#detect-data-loss .detect-data-loss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Points */
  /* Video/Image */
}

#detect-data-loss .detect-data-loss .detect-data-loss-point {
  height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#detect-data-loss .detect-data-loss .detect-data-loss-point .detect-data-loss-text-content {
  padding-right: 20%;
}

#detect-data-loss .detect-data-loss .detect-data-loss-point .detect-data-loss-text-content p {
  margin: 0 !important;
}

#detect-data-loss .detect-data-loss .detect-data-loss-point img {
  display: none;
}

#detect-data-loss .detect-data-loss .detect-data-loss-points,
#detect-data-loss .detect-data-loss .detect-data-loss-video {
  min-width: 50%;
}

#detect-data-loss .detect-data-loss .detect-data-loss-video .detect-data-loss-view {
  position: relative;
  max-width: 635px;
  bottom: 0;
  height: 100vh;
}

#detect-data-loss .detect-data-loss .detect-data-loss-video .detect-data-loss-view img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 1440px) {
  #detect-data-loss .detect-data-loss .detect-data-loss-point .detect-data-loss-text-content {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 1366px) {
  #detect-data-loss .detect-data-loss .detect-data-loss-point .detect-data-loss-text-content {
    padding-left: 10%;
    padding-right: 8%;
  }
}

#detect-data-loss .dots {
  position: absolute;
  height: 100vh;
  pointer-events: none;
  top: 0;
  left: 10%;
  background: transparent;
}

#detect-data-loss .dots ul {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#detect-data-loss .dots ul li {
  display: block;
  width: 12px;
  height: 12px;
  background: #cfcfcf;
  margin-bottom: 30px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#detect-data-loss .dots ul li.active {
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#detect-data-loss .dots ul li:last-of-type {
  margin-bottom: 0px;
}

@media only screen and (max-width: 1800px) {
  #detect-data-loss .dots {
    left: 40px;
  }
}

@media only screen and (max-width: 992px) {
  #detect-data-loss .dots {
    left: 20px;
  }
}

#detect-data-loss.fixed .detect-data-loss .detect-data-loss-video .detect-data-loss-view {
  position: fixed;
  z-index: 9;
  top: 0;
}

@media only screen and (max-width: 1300px) {
  #detect-data-loss.fixed .detect-data-loss .detect-data-loss-video .detect-data-loss-view img {
    width: calc(100% - 50px);
  }
}

#detect-data-loss.fixed .dots {
  position: fixed;
}

#detect-data-loss.absolute .detect-data-loss {
  position: relative;
}

#detect-data-loss.absolute .detect-data-loss .detect-data-loss-video .detect-data-loss-view {
  position: absolute;
}

@media only screen and (max-width: 1300px) {
  #detect-data-loss.absolute .detect-data-loss .detect-data-loss-video .detect-data-loss-view img {
    width: calc(100% - 50px);
  }
}

#detect-data-loss.absolute .dots {
  position: absolute;
  top: unset;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .detect-data-loss {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    /* Points */
  }
  .detect-data-loss .detect-data-loss-point {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    display: block !important;
    margin-bottom: 30px;
  }
  .detect-data-loss .detect-data-loss-point .detect-data-loss-text-content {
    margin-bottom: 20px;
    padding: 0 !important;
  }
  .detect-data-loss .detect-data-loss-point img {
    display: block !important;
  }
  .detect-data-loss .detect-data-loss-points,
  .detect-data-loss .detect-data-loss-video {
    min-width: 100%;
  }
  .detect-data-loss .detect-data-loss-video {
    display: none;
  }
  .dots {
    display: none;
  }
}

/*---------------------------------------
    Section # 2: Prevent Data Loss
-----------------------------------------*/
/* Preventing Data Loss Points */
.preventing-data-loss-heading-area.d-md-block {
  display: none;
  text-align: left;
}

/* Data Loss Point */
.preventing-data-loss-point {
  padding: 15px 30px 15px 30px;
}

.preventing-data-loss-point h3 {
  cursor: pointer;
}

.preventing-data-loss-point p {
  display: none;
  color: #798da3;
  margin: 0 !important;
}

.preventing-data-loss-point.active {
  padding: 30px;
  margin: 20px 0px;
  border-left: 6px solid #e67e22;
  background: #f7f6f6;
}

.preventing-data-loss-point.active p {
  display: block;
}

.preventing-data-loss-point:last-of-type {
  margin-bottom: 0;
}

.preventing-data-loss-point:first-of-type {
  margin-top: 0;
}

/* Changing Functionality styles */
@media only screen and (max-width: 768px) {
  .preventing-data-loss-heading-area.d-md-block {
    display: block;
  }
  .preventing-data-loss-heading-area.d-lg-block {
    display: none;
  }
  .preventing-data-loss-point,
  .preventing-data-loss-point.active {
    padding: 0;
    margin: 0;
  }
  .preventing-data-loss-point h3,
  .preventing-data-loss-point p {
    display: none;
  }
  .preventing-data-loss-point.active {
    border: none;
    background: transparent;
  }
  .preventing-data-loss-point.active h3,
  .preventing-data-loss-point.active p {
    display: block;
  }
}

/* Switch Points Controls */
.switch-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.switch-points.d-md-flex {
  display: none;
}

.switch-points:last-of-type {
  margin-bottom: 35px;
}

.switch-points .switch-to {
  min-width: 50%;
}

.switch-points .switch-to button {
  padding: 12px 14px;
  background: #f7f6f6;
  border: 2px solid #e67d2211;
  border-radius: 8px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.switch-points .switch-to.active button {
  border: 2px solid #e67e22;
}

.switch-points .switch-to:first-of-type {
  padding-right: 6px;
}

.switch-points .switch-to:last-of-type {
  padding-left: 6px;
}

@media only screen and (max-width: 768px) {
  .switch-points.d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=app.css.map */