/* >>> Switching Data Loss Points <<< */
/* >>> Visible on Mobile only <<< */
.switch-points {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  gap: 14px;
}
.switch-points.d-md-flex {
  display: none;
}
.switch-points:last-of-type {
  margin-bottom: 35px;
}
.switch-points .switch-to {
  min-width: 50%;
}
/* "Active" Point */
.switch-points .switch-to.active button {
  border: 2px solid #e67e22;
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.267);
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.267);
}
/* All Points */
.switch-points .switch-to button {
  padding: 12px 14px;
  background: #f7f6f6;
  border: 2px solid #e67d2223;
  -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.144);
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.144);
  border-radius: 8px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .switch-points.d-md-flex {
    display: flex;
  }
}
/* >>> Preventing Data Loss Points <<< */
/* Heading Area */
.preventing-data-loss-heading-area.d-md-block {
  display: none;
  text-align: left;
}
/* Data Loss Point */
.preventing-data-loss-point {
  padding: 15px 30px 15px 30px;
}
.preventing-data-loss-point h3 {
  cursor: pointer;
}
.preventing-data-loss-point p {
  display: none;
  color: #798da3;
  margin: 0 !important;
}
/* "Active" Data Loss Point */
.preventing-data-loss-point.active {
  padding: 30px;
  margin: 20px 0px;
  border-left: 6px solid #e67e22;
  background: #f7f6f6;
}
.preventing-data-loss-point:last-of-type {
  margin-bottom: 0;
}
.preventing-data-loss-point:first-of-type {
  margin-top: 0;
}
.preventing-data-loss-point.active p {
  display: block;
}
/* Changing Functionality styles */
@media only screen and (max-width: 768px) {
  .preventing-data-loss-heading-area.d-md-block {
    display: block;
  }
  .preventing-data-loss-heading-area.d-lg-block {
    display: none;
  }
  .preventing-data-loss-point,
  .preventing-data-loss-point.active {
    padding: 0;
    margin: 0;
  }
  .preventing-data-loss-point h3,
  .preventing-data-loss-point p {
    display: none;
  }
  .preventing-data-loss-point.active h3,
  .preventing-data-loss-point.active p {
    display: block;
  }
  .preventing-data-loss-point.active {
    border: none;
    background: transparent;
  }
}
